<!DOCTYPE html>
<html>

<link rel = icon href="http://normalsand.github.io/favicon.PNG">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 

<head>
  <title>Survive the Internet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>

<body>

<style>

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

</style>

<canvas id = canvas></canvas>

<script src = '/../socket_stuff.js'></script>
<script>

// Globals
let g_state = {};

// For window load
function load() {

  setInterval( draw, 1000 / 60 );
  setInterval( () => { send( 'draw_data query {}' ) }, 200 );

}

window.onload = load;

// Commands are how the client and server communicate/run functions
// Use the word to show that that word must be typed
// Use * in front of a word to specify that it's an argument
// Use i, f, etc. before a * to specify argument type (def. is string)
const COMMANDS = setup_commands( [
  'log *str',
  'error *str',
  'draw_data update *data'
] );

const COMMAND_FUNCTIONS = [
  log_info,
  server_error,
  draw_data_update
];

// Command functions

function log_info( data )
  { console.log( `[SERVER] ${ data.str }` ); }

function server_error( data )
  { console.error( `Server error:\n${ data.str }` ); }

function draw_data_update( data ) {

  // Just print the into to the console for now
  console.log( data.data );
  g_state = JSON.parse( data.data );

}

// Draw an image at coordinates
function drawImage( ctx, src, x, y ) {

  var img = new Image;
  img.src = src;

  // Determine how to scale the image
  if ( ctx.canvas.width / ctx.canvas.height < 16 / 9 )
    ctx.drawImage( img, x, y, ctx.canvas.height * 16 / 9, ctx.canvas.height );
  else
    ctx.drawImage( img, x, y, ctx.canvas.width, ctx.canvas.width * 9 / 16 );

}


// Main draw loop
function draw() {

  // Resize to fit window
  var ctx = document.getElementById( 'canvas' ).getContext( '2d' );
  ctx.canvas.width  = window.innerWidth;
  ctx.canvas.height = window.innerHeight;

  // Draw background image
  drawImage( ctx, '/../xp_bg.png', 0, 0 );

  // Draw text
  ctx.font = "30px Arial";

  if ( g_state.mode == 1 || g_state.mode == 2 )
    ctx.fillText( g_state.timer, ctx.canvas.width / 2, ctx.canvas.height / 2 );

  else if ( g_state.mode == 3 ) {

    ctx.fillText( g_state.view.response, ctx.canvas.width / 2, ctx.canvas.height / 2 - 40 );
    ctx.fillText( g_state.view.twist, ctx.canvas.width / 2, ctx.canvas.height / 2 + 40 );

  }
}

</script>

</body>

</html>